h2{
    /* using a color name */
    background-color: rgb(165, 165, 228);
    
  }

  button {
    background-color: #f9e90c; /* Change to blue color */
    color: #131212; /* Change to white color */
    border: solid; /* Remove border */
    padding: 0.5rem 1rem; /* Add padding */
    border-radius: 0.25rem; /* Add border radius */
    cursor: pointer; /* Add cursor pointer */
  }
  
form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  